{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <!-- CSS 및 javascript 부분 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- jQuery import -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                // 예를 눌렀을 때
                $(".yes").click(function(){
                    $.ajax({ // .like 버튼을 클릭하면 <새로고침> 없이 ajax로 서버와 통신하겠다.
                    type: "POST", // 데이터를 전송하는 방법을 지정
                    url: "http://127.0.0.1:8000/ajaxtest/", // 통신할 url을 지정
                    data: {'data': 1, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터 전송시 옵션
                    dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
                    // 서버측에서 전송한 Response 데이터 형식 (json)
                    // {'likes_count': post.like_count, 'message': message }
                    });
                });
                
                //아니오를 눌렀을 때
                $(".no").click(function(){
                    $.ajax({ 
                    type: "POST", 
                    url: "http://127.0.0.1:8000/ajaxtest/", 
                    data: {'data': 2, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                    dataType: "json", 
                    });
                });
            });
        </script>
    </head>
    <body>

        <!-- Ajax를 이용한 응답 기록-->
        <input type="button" class="yes" name="ajaxtestyes" value="ajaxtest_yes">
        <input type="button" class="no" name="ajaxtestno" value="ajaxtest_no">
        
        <div>
            <h1>프론트 예시 샘플</h1>
        </div>

        <div>
            <p>nickname: {{tar.nickname}}</p>
            <p>email: {{tar.email }}</p>
        </div>

        <div>
            <h1>질문 들어갑니다</h1>
                <p> {{ questions.q_a }} </p>
        </div>

        <!-- 이미지 불러오는 항목 -->
        <!-- static은 app안에다가 두고 import -->
        <img src="{% static 'img/jae.jpg' %}" class="login__logo" />

    </body>
</html>